[build]
  publish = "out"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20.9.0"

[[forms]]
  name = "contact"
  email = { subject = "New Contact Form Submission", recipient = "hellenkiwagama@gmail.com" }
